body{
	background-image: url("zhaop.webp");

}

div{
	position: relative;
	top: 20px;
	border-radius: center;
}
#photo{
	margin: auto;
}
p{
	text-align: center;
}
#container{
	background-color:white;
	opacity: 60%;

	height:  1000px;
	width: 1000px;
	display: block;

	margin: auto;
	top:100px; 
}
#title p{
	font-size:40px;
	font-weight: bold;
	font-family: "宋体"；
}